@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway:wght@100&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: white;
}

a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  text-decoration-color: #0066FF;
  text-decoration-thickness: 5px;
}

html {
  font-size: calc(24px - 0.390625vw);
}

#Header {
  text-shadow: 4px 4px 8px #000000;
}

.blog:hover #hero-1 {
  box-shadow: 6px 6px 8px white;
}
.blog:hover #hero-2 {
  box-shadow: 6px 6px 8px white;
}
.blog:hover section {
  font-weight: bolder;
  font-size: larger;
}

body {
  background-image: linear-gradient(347.95deg, #51B9F3 0%, #2A6F96 100%);
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
}
body header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem 2rem 4rem;
}
body header #Header {
  font-family: "Pacifico", cursive;
  font-size: 1.5rem;
}
body header nav {
  width: 50%;
  display: flex;
  align-items: center;
}
body header nav box-icon {
  visibility: hidden;
}
body header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 1em;
}
body .hero img {
  width: 100%;
  height: 450px;
}
body main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2rem 4rem 2rem 4rem;
}
body main p {
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
body main .blog-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  column-gap: 1.5rem;
}
body main .blog-list .blog {
  height: 15rem;
  margin-bottom: 1.5em;
}
body main .blog-list .blog #hero-1 {
  background-image: url("blog-1.png");
  width: calc(100% - 1vw);
  height: calc(75% + 1vw);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 0.75rem;
  border-radius: 1rem;
}
body main .blog-list .blog #hero-2 {
  background-image: url("blog-2.png");
  width: calc(100% - 1vw);
  height: calc(75% + 1vw);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 0.75rem;
  border-radius: 1rem;
}
body main .blog-list .blog section {
  height: 40%;
  font-size: 0.55em;
}
body main .blog-list .blog section h2 {
  margin-bottom: 0.75em;
  font-size: 1.25em;
}
body footer {
  padding: 2rem 4rem 2rem 4rem;
  background-color: black;
}
body footer p {
  font-size: 1em;
  margin-bottom: 0.5em;
}
body footer img {
  border-radius: 50%;
}

@media (max-width: 1199px) {
  body header {
    padding: 2rem 3rem 2rem 3rem;
  }
  body header nav ul {
    font-size: 0.75em;
  }
  body main {
    padding: 2rem 3rem 2rem 3rem;
  }
  body .hero img {
    width: 100%;
    height: 400px;
  }
  body footer {
    padding: 2rem 3rem 2rem 3rem;
    background-color: black;
  }
  body footer p {
    font-size: 0.75em;
    margin-bottom: 0.5em;
  }
  body footer img {
    border-radius: 50%;
  }
}
@media (max-width: 991px) {
  body header {
    padding: 2rem 2rem 2rem 2rem;
    display: none;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-content: flex-end;
  }
  body header #Header {
    width: 50%;
    font-size: 1.5rem;
  }
  body header nav {
    width: 35%;
  }
  body header nav ul {
    visibility: hidden;
  }
  body header nav box-icon {
    visibility: visible;
    color: white;
  }
  body .hero img {
    width: 100%;
    height: 350px;
  }
  body main {
    padding: 2rem 2rem 2rem 2rem;
  }
  body footer {
    padding: 2rem 2rem 2rem 2rem;
    background-color: black;
  }
  body footer p {
    font-size: 0.5em;
    margin-bottom: 0.5em;
  }
  body footer img {
    border-radius: 50%;
  }
}
@media (max-width: 767px) {
  body header {
    padding: 2rem 1rem 2rem 1rem;
    display: none;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-content: flex-end;
  }
  body header #Header {
    font-size: 1.5rem;
    width: 50%;
  }
  body header nav {
    width: 25%;
  }
  body header nav ul {
    visibility: hidden;
    width: 20%;
  }
  body header nav box-icon {
    visibility: visible;
    color: white;
  }
  body .hero img {
    width: 100%;
    height: 300px;
  }
  body main {
    padding: 2rem 1rem 2rem 1rem;
  }
  body footer {
    padding: 2rem 1rem 2rem 1rem;
    background-color: black;
  }
  body footer p {
    font-size: 0.5em;
    margin-bottom: 0.5em;
  }
  body footer img {
    border-radius: 50%;
  }
}
@media (max-width: 599px) {
  body header {
    padding: 2rem 0.75rem 2rem 0.75rem;
    display: none;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-content: flex-end;
  }
  body header #Header {
    font-size: 1rem;
    width: 50%;
  }
  body header nav {
    width: 25%;
  }
  body header nav ul {
    visibility: hidden;
    width: 20%;
  }
  body header nav box-icon {
    visibility: visible;
    color: white;
  }
  body .hero img {
    width: 100%;
    height: 250px;
  }
  body main {
    padding: 2rem 0.75rem 2rem 0.75rem;
  }
  body footer {
    padding: 2rem 0.75rem 2rem 0.75rem;
    background-color: black;
  }
  body footer p {
    font-size: 0.5em;
    margin-bottom: 0.5em;
  }
  body footer img {
    border-radius: 50%;
  }
}

/*# sourceMappingURL=output.css.map */
