.container {
  padding: 0;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.searching{
  height:  50rem;
  width: 100%;
  padding: 0;
  background: url("../public/front_page/legend.png") no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0rem 1rem;
    .searchbar{
      width: 70%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      #search{
        width: 100%;
        border-radius: 80px;
        height: 10%;
        background-color: rgba(203, 198, 168, 0.8);
        margin-top: 10rem;
        padding: 1rem 2rem;
        font-size: 2rem;
        font-family: "oldstyle";
      }
      div{
        position: absolute;
        margin-top: 10rem;
        right: 0;
        margin-right: 1rem;
        display: flex;
        width: 10%;
        justify-content: space-between;
        align-items: center;
        .icon{
          height: 3rem;
        }
        button{
          height: 3rem;
          border-radius: 80px;
          font-family: 'cubano';
          background-color: #312938;
          color: rgba(203, 198, 168, 0.8);
        }
      }
    }
    
  .name{
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "brushup";
    color: #E3CBB8;
    font-weight: 500;
    font-size: 9rem;
    div{
      margin-top: 4rem;
      margin-bottom: 5rem;
      margin-right: 5rem;
    }
  }
}

.cardContainer{
  height: 30rem;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 3rem 0;
  .blackLineContainer{
    height: 100%;
    width: 0.45%;
    margin: 0 2rem 0 2.5rem;
    .blackLine{
      height: 82%;
      width: 100%;
      background-color: black;
      border-radius: 80px;
    }
  }
  .list{
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;

    .heading{
      height: 10%;
      font-size: 2rem;
      margin-bottom: 2rem;
    }

    .cardList{
      height: 90%;
      display: flex;
      justify-content: space-between;
    }
  }

  .nextArrow{
    position: relative;
    width: 6.5%;
    height: 20%;
    margin-left: 2rem;
  }
}

.symbolHeading{
  height: 10%;
  width: 10%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin-bottom: 2rem;
  div{
    position: relative;
    width: 40%;
  }
}

.Container{
  height: 70rem;
  width: 100%;
  display: flex;
  flex-direction: column;

  .part3{
    width: 100%;
    height: 80%;
    margin: 3rem 0 1rem 0;
    display: flex;
    .blackLineContainer{
      height: 100%;
      width: 0.45%;
      margin: 0 2rem 0 2.5rem;
      .blackLine{
        height: 40%;
        width: 100%;
        background-color: black;
        border-radius: 80px;
      }
    }
  
    .list{
      width: 99%;
      height: 100%;
      display: flex;
      flex-direction: column;
  
      .heading{
        height: 5%;
        font-size: 2rem;
        margin-bottom: 1rem;
      }
  
      .cardList{
        display: flex;
        width: 100%;
        height: 90%;
  
        .cardContainer1{
          width: 33%;
          height: 90%;
          margin: 0;
          margin-right: 2.5rem;
          margin-top: 3rem;
          padding-bottom: 2rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          font-family: 'oldstyle';
          font-size: 2.5rem;
          div{
            position: relative;
            width: 100%;
            height: 100%;
            margin-bottom: 2rem;
          }
        }
  
        .cardContainer2{
          width: 67%;
          height: 100%;
          display: flex;
          flex-direction: column;
          .card{
            margin-bottom: 2rem;
          }
        }
      }
    }
  }

  .Button{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    button{
      font-family: 'cubano';
      border-radius: 80px;
      width: 15%;
      background: linear-gradient(180deg, #6B4D35 0%, rgba(107, 77, 53, 0) 155.36%);
      font-size: 2rem;
      color: #CFC89A;
      border: 0;
      padding: 2rem;
    }
  }

}

.quoteContainer{
  width: 100%;
  height: 35rem;
  display: flex;
  flex-direction: row;
  .quote{
    width: 65%;
    height: 100%;
    background-color: #6B4D35;
    margin-left: 7rem;
    border-radius: 111px;
    display: flex;
    justify-content: center;
    align-items: center;
    div{
      position: relative;
      width: 50%;
      height: 110%;
      bottom: 1.75rem;
      right: 2.5rem;

      .music{
        position: relative;
        width: 23%;
        height: 20%;
        top: 35rem;
        right: 2rem;
      }
    }
    .content{
      font-family: 'oldstyle';
      color: #EEE7BA;
      width: 65%;
      height: 90%;
      font-size: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .name{
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "cubano";
    color: #312938;
    font-weight: 500;
    font-size: 6rem;
  }
  margin-bottom: 6rem;
}

@media (max-width: 1199px) and (min-width: 992px){
  .searching{
    height: 35rem;
    .searchbar{
      div{
        width: 12%;
      }
    }
    .name{
      font-size: 5rem;
      div{
        margin-top: 4rem;
        margin-bottom: 2rem;
        margin-right: 5rem;
      }
    }
  }

  .cardContainer{
    height: 20rem;
    margin: 3rem 0;
    .blackLineContainer{
      height: 100%;
      width: 0.45%;
      margin: 0 2rem 0 2.5rem;
      .blackLine{
        height: 82%;
        width: 100%;
        background-color: black;
        border-radius: 80px;
      }
    }
  }

  .Container{
    height: 60rem;
    width: 100%;
    display: flex;
    flex-direction: column;
  
    .part3{
      margin: 1.5rem 0 1rem 0;
      display: flex;
      .blackLineContainer{
        .blackLine{
          height: 40%;
        }
      }
    
      .list{
    
        .cardList{
    
          .cardContainer1{
            font-size: 1.75rem;
          }
        }
      }
    }
  
    .Button{
      button{
        font-family: 'cubano';
        border-radius: 80px;
        width: 15%;
        background: linear-gradient(180deg, #6B4D35 0%, rgba(107, 77, 53, 0) 155.36%);
        font-size: 1rem;
        color: #CFC89A;
        border: 0;
        padding: 2rem;
      }
    }
  
  }

  .quoteContainer{
    height: 20rem;
    .quote{
      margin-left: 5rem;
      div{
        bottom: 1rem;
        right: 2rem;
  
        .music{
          top: 20rem;
          right: 0.75rem;
        }
      }
      .content{
        font-size: 1rem;
      }
    }
    .name{
      font-size: 4rem;
    }
    margin-bottom: 4rem;
  }
}